<main class="bg-[var(--sand)] text-slate-800">
  <app-hero-section></app-hero-section>
  <app-gallery-bento></app-gallery-bento>
  <app-features-section></app-features-section>
  <app-location-section></app-location-section>
  <app-guest-registration-section></app-guest-registration-section>
  <!-- <app-pricing-section></app-pricing-section> -->
  <!-- <app-testimonials-section></app-testimonials-section> -->
  <app-cta-section></app-cta-section>
  <app-contact-section></app-contact-section>
  <app-footer></app-footer>
</main>
